pkgbase = toasty-meta
	pkgdesc = A metapackage containing all dependencies for the Toasty dotfiles
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/0x0Dx/toasty
	arch = any
	depends = hyprland
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-gtk
	depends = hyprpicker
	depends = wl-clipboard
	depends = cliphist
	depends = swaync
	depends = wireplumber
	depends = trash-cli
	depends = foot
	depends = fish
	depends = eza
	depends = fastfetch
	depends = starship
	depends = btop
	depends = jq
	depends = adw-gtk-theme
	depends = papirus-icon-theme
	depends = qt5ct-kde
	depends = qt6ct-kde
	depends = ttf-jetbrains-mono-nerd
	depends = thunar
	depends = swww
	depends = vicinae-bin
	depends = waybar
	depends = spotify
	depends = vscodium-bin
	depends = discord
	depends = zen-browser-bin

pkgname = toasty-meta
